{{template "base" .}}

    {{define "content"}}
        
        <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>This is the HOME  page</h1>
                     
                        <img src="/static/images/firmafer.jpg"  height="150" width="150">
                        
                     

                    </div>
                </div>
            </div>



    {{end}}
